.gallery-container {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    
    &__gallery-item {
        width: 40%;
        padding: 20px;
        background-color: rgba(240, 248, 255, 0.849);
        position: relative;
        display: flex;
        // flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 350px;


        .gallery-item__image {
            max-width: 50%;
            max-height: 300px;
            // border-radius: 50%;
        }

        audio {
            display: block;
            visibility: visible;
            width: 100px;
        }

        p {
            position: absolute;
            background-color: #a6b5e5d5;
            opacity: 1;
            // display: none;
            bottom: -17px;
            right: 0;
            width: 100%;
            padding: 15px;
        }

        .gallery-item__name {
            font-size: 20px;
            padding: 5px;
        }
    }

    @media (max-width:670px) {
        flex-direction: column;


        &__gallery-item {
            width: 100%;
        }

      
    }

    .playBtn {
        width: 50px;
        height: 50px;
    }
}

body {
    position: relative;
}

.nxtButtons {
position: absolute;
top:50%;
padding: 10px;
outline: none;
background: #F7F8F7;
        color: #394980;
        font-family: sans-serif;
border-radius: 10%;
}

@media (max-width: 670px) {
    .nxtButtons {
        position: static;
       
        width: 50%;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 0;
    }

    .home {
        row-gap: 0px;
    }

    .gallery-container__gallery-item {
        
        padding: 51px;
    }
}