.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(116, 214, 162);
    &__title {
        color: white;
    }

    &__score {
        color: white;
    }
}