.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #394980;
    &__title {
        color: white;
    }

    &__score {
        color: white;
    }
}