.victorine-selector {
    display: flex;
    justify-content: space-between;
    background-color: #8ED0EA;
    &__theme {
        text-align: center;
        width: 16.6%;
        background-color: #f7f8f7;
        padding: 10px;

        &--chosen {
            background-color: #394980;
        }
    }

    @media (max-width:530px) {
        flex-direction: row;
        flex-wrap: wrap;
         
        &__theme {
            width: 50%;
        }
    }
    

}