.victorine-answers {
    background-color: rgb(116, 214, 162);
    color: white;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    min-height: 350px;

    &__variants-list {
        
        &__variant {
            border: 1px solid gray;
            padding: 10px;
            padding-right: 300px;
        }
    }

    &__victorine-info {
        &__pic {
            max-width: 200px;
            max-height: 200px;
        }
    }
}