.victorine-answers {
    background-color: #394980;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    min-height: 350px;

    @media (max-width:530px) {
        flex-direction: column;
    }

    &__variants-list {
        
        &__variant {
            border: 1px solid gray;
            padding: 10px;
            padding-right: 20vw;
            background-color: #F7F8F7;
            color: black;
        }
    }

    &__victorine-info {
       text-align: center;
        &__pic {
            max-width: 225px;
            max-height: 136px;
            border-radius: 10px;
        }

        figure {
            margin: 0 auto;
            max-width: 300px;
        }
    }
}


.indicator {
    width: 10px;
    height: 10px;
    background-color: rgb(134, 134, 134);
    display: inline-block;
    margin-right: 5px;
    transition: 0.1s;
}

.indicator--red {
    background-color: red;
}

.indicator--green {
    background-color: green;
}