.victorine-question {
    background-color: #f7f8f7;
    
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    &__pic {
        margin-left: 10px;
        border-radius: 10px;
        max-width: 225px;
        max-height: 136px;
    }
    &__right {
        display: flex;
        flex-direction: column;
        color: #394980;
        margin-right: 100px;
        align-items: center;
    }

    .correct-audio {
        max-width: 300px;
    }

    @media (max-width:520px) {
        flex-direction: column;
        align-items: center;

        &__right {
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        audio {
            width: 50vw;
        }
    }
}