.victorine-question {
    background-color: rgb(116, 214, 162);
    border: 1px solid wheat;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    &__pic {
        margin-left: 10px;
        max-width: 200px;
        max-height: 200px;
    }
    &__right {
        display: flex;
        flex-direction: column;
        color: white;
        margin-right: 100px;
    }
}